JUDGE0_IMAGE=judge0/judge0:1.13.1
JUDGE0_POSTGRES_IMAGE=postgres:16.8
JUDGE0_REDIS_IMAGE=redis:7.4-alpine
JUDGE0_POSTGRES_USER=judge0
JUDGE0_POSTGRES_PASSWORD=generate-with-scripts-generate-env
JUDGE0_POSTGRES_DB=judge0
JUDGE0_REDIS_PASSWORD=generate-with-scripts-generate-env
JUDGE0_RAILS_ENV=production
JUDGE0_ENABLE_WAIT_RESULT=true
JUDGE0_DISABLE_MEMORY_LIMIT=false
JUDGE0_AUTHN_HEADER=X-Judge0-Token
JUDGE0_AUTHN_TOKEN=generate-with-scripts-generate-env
JUDGE0_AUTHZ_HEADER=X-Judge0-Admin
JUDGE0_AUTHZ_TOKEN=generate-with-scripts-generate-env
JUDGE0_ALLOW_ORIGIN=http://localhost
JUDGE0_ENABLE_COMPILER_OPTIONS=false
JUDGE0_ENABLE_COMMAND_LINE_ARGUMENTS=false
JUDGE0_ENABLE_SUBMISSION_DELETE=false
JUDGE0_ENABLE_BATCHED_SUBMISSIONS=false
JUDGE0_ENABLE_CALLBACKS=false
JUDGE0_MAX_QUEUE_SIZE=50
JUDGE0_CPU_TIME_LIMIT=2
JUDGE0_MAX_CPU_TIME_LIMIT=5
JUDGE0_WALL_TIME_LIMIT=5
JUDGE0_MAX_WALL_TIME_LIMIT=10
JUDGE0_MEMORY_LIMIT=128000
JUDGE0_MAX_MEMORY_LIMIT=256000
JUDGE0_STACK_LIMIT=64000
JUDGE0_MAX_STACK_LIMIT=128000
JUDGE0_MAX_FILE_SIZE=1024
JUDGE0_MAX_PROCESSES_AND_OR_THREADS=64
JUDGE0_API_MEM_LIMIT=2g
JUDGE0_WORKER_MEM_LIMIT=3g
JUDGE0_API_CPUS=2.0
JUDGE0_WORKER_CPUS=2.0
JUDGE0_HOST_BIND=127.0.0.1
JUDGE0_HOST_PORT=2358
